* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-break: break-word;
}
html,
body {
  min-height: 100vh;
}
body {
  background-color: $bg-color;
  font-size: 100%;
  font-family: $main-font;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
.abz-link {
  @include text($heading-3, 700, $primary-color);
  font-family: $sec-font;
  @include transition(color);
  &:hover {
    color: $primary-hover;
  }
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-md-30 {
  margin-bottom: 30px;
  @include media {
    margin-bottom: 0;
  }
}
.mb-lg-30 {
  margin-bottom: 30px;
  @include media($screen-tablet-pro) {
    margin-bottom: 0;
  }
}
.mb-35 {
  margin-bottom: 35px;
}
.layer {
  @include z-index(drawer);
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, .5);
}
